        .line{
            background-color: beige;
        }
        #new{
            font-family: 'Courier New', Courier, monospace;
        }
        h3{
            background-color: aqua;
        }
        .border{
        border: 2px solid skyblue
        }
        .flex-container div{
            background-color: lightgrey;
            border: 2px solid brown;
            height: 100px ;
            width: 100px
        }
        .item2{
            flex-shrink: 0;
        }

